@import url("https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Oswald&family=Roboto&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 220, 135);
  padding: 10 px 50px;
  align-items: center;
  height: 70px;
  box-shadow: 0 5px 10px rgb(1, 9, 12);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 55px;
  height: 55px;
  margin: 30px;
  max-width: 100px;
  min-width: 60px;
  border-radius: 25%;
  border: none;
}

.nombre-desarrollador {
  font-size: 2.5rem;
  color: whitesmoke;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
}

.nav_li {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  margin-right: 25px;
}

.nav_li:hover {
  border-bottom: 5px solid rgb(152, 41, 69);
}
